/* Default styles for the chart container */
.chart-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media screen and (max-width: 768px) {
    .chart-container {
      width: 100%;
    }
  }
  
  /* Media query for screens with a maximum width of 480px */
  @media screen and (max-width: 480px) {
    .chart-container {
      width: 100%;
    }
  }
  